$font-family: 'Poppins', sans-serif;
$font-size: 14px;

$transition: .5s;

$main-color: #30c5ff;
$main-color-light: #a0dde6;
$secondary-color: #5c946e;
$secondary-color-light: #80c2af;
$dark-color: #2a2d34;

$white-color: #ffffff;
$black-color: #2a2d34;

$grey-color-dark: #666666;


$bg-color: #f8f8f8;
$bg-color2: #fff5e1;

$gradient-color: linear-gradient(135deg, rgba(160, 221, 230, 0.8) 0%, rgba(128, 194, 175, 0.8) 100%);
